{% import "components/form.html" as form with context %}
{% if ddoc.highlight or handler.user.hasPerm(perm.PERM_HIGHLIGHT_DISCUSSION) %}
  {{ form.form_checkbox({
       label:'Highlight',
       name:'highlight',
       value:ddoc.highlight|default(false),
       disabled:not handler.user.hasPerm(perm.PERM_HIGHLIGHT_DISCUSSION)
     }) }}
{% endif %}
{% if ddoc.pin or handler.user.hasPerm(perm.PERM_PIN_DISCUSSION) %}
  {{ form.form_checkbox({
       label:'Pin',
       name:'pin',
       value:ddoc.pin|default(false),
       disabled:not handler.user.hasPerm(perm.PERM_PIN_DISCUSSION)
     }) }}
{% endif %}
  {{ form.form_text({
       label:'Title',
       name:'title',
       value:ddoc.title|default(''),
       autofocus:true,
       required:true
     }) }}
  {{ form.form_textarea({
       columns:12,
       label:'Content',
       name:'content',
       value:ddoc.content|default(''),
       hotkeys:'ctrl+enter:submit',
       markdown:true,
       required:true
     }) }}
