{% extends "layout/basic.html" %}
{% block content %}
<div class="row">
  <div class="medium-9 columns">
    <div class="section">
      <div class="section__header">
        <h1 class="section__title">{{ _('Settings') }}</h1>
      </div>
      <div class="section__body">
        <form method="post">
          {{ form.form_checkbox({
               label:'Hidden', 
               help_text:'Note: Problem title may not be hidden.', 
               name:'hidden', 
               value:pdoc['hidden']
             }) }}
          {{ form.form_text({
               columns:12, 
               label:'Category', 
               help_text:'Format: category 1, category 2, ..., category n', 
               name:'category', 
               value:pdoc['category']|join(', ')
             }) }}
          {{ form.form_text({
               columns:12, 
               label:'Tags', 
               help_text:'Splitted by \', \'.', 
               name:'tag', 
               value:pdoc['tag']|join(', ')
             }) }}
          <div class="row"><div class="columns">
            <input type="hidden" name="operation" value="setting">
            <input type="hidden" name="csrfToken" value="{{ handler.csrfToken }}">
            <button type="submit" class="rounded primary button">
              {{ _('Update') }}
            </button>
          </div></div>
        </form>
      </div>
    </div>
  </div>
  <div class="medium-3 columns">
    {% set owner_udoc = udoc %}
    {% include "partials/problem_sidebar.html" %}
    <div class="section side nojs--hide">
      <div class="section__header">
        <h1 class="section__title">{{ _('Categories') }} ({{ _('click to add') }})</h1>
      </div>
      <div class="section__body">
        {% include "partials/category.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
